{

  "useTabs": false,
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "parser": "typescript",
  "semi": false,
  "overrides": [
    {
      "files": "*.{js,jsx,tsx,ts,scss,json,html}",
      "options": {
        "tabWidth": 2
      }
    }
  ],

}